body {
   background-color: #fff;
   color: #22343d;
   font-family: "poppins", sans-serif;
   line-height: 1.62;
}
img {
   display: block;
}
/* #region comon*/
.container {
   max-width: 1150px;
   margin: 0 auto;
   padding: 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}
ul,
ol {
   margin: 0;
   padding: 0;
   list-style: none;
}
a {
   text-decoration: none;
   color: inherit;
}
button {
   cursor: pointer;
   padding: 0;
}
h2 {
   font-weight: 700;
   font-size: 32px;
}
/* #endregion */
/* #region comon section */
.button-bg-green {
   border-radius: 4px;

   background: #02897a;
   border-style: none;
   color: #ffffff;
   font-weight: 700;
}
.section-title-text {
   font-weight: 600;
   margin-bottom: 8px;
}
.section-title {
   margin-bottom: 25px;
   font-size: 32px;
   font-weight: 700;
}
.section-botom-title-text {
   margin-bottom: 30px;
}
.section-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 84px;
}
.section-list-item:not(:last-child) {
   margin-bottom: 25px;
}
/* #endregion */
/* #region header */
.header-container .container {
   display: flex;
   justify-content: space-between;
}
.logo {
   display: flex;
   font-size: 30px;
   font-weight: 700;
   line-height: 0.93;
   color: #173a56;
   align-items: center;
   gap: 16px;
   line-height: 0.93;
   color: #173a56;
}
.nav {
   display: flex;
   gap: 237px;
}
.menu-list {
   display: flex;

   gap: 30px;
}
.menu-item-link {
   padding: 27px 0 25px 0;
}
.menu-item {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.75;
   color: #22343d;
   padding: 27px 0 25px 0;
   display: block;
}
.menu-item-actual a {
   font-weight: 600;
}
.button-list {
   display: flex;
   align-items: center;
   gap: 21px;
   font-weight: 600;
   font-size: 16px;
   text-align: center;
}
.button-sing-in {
   background: #ffffff;
   cursor: pointer;
   color: #173a56;
   width: 105px;
   height: 42px;
   border: 1px solid #bcd0e5;
   border-radius: 4px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-sing-in:hover,
.button-sing-in:focus {
   color: #fff;
   background-color: #02897a;
   border: 1px solid #bcd0e5;
}
.button-sing-up {
   font-weight: 600;
   width: 113px;
   height: 42px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-sing-up:hover,
.button-sing-up:focus {
   color: #173a56;
   background-color: #fff;
   border: 1px solid #bcd0e5;
}
/* #endregion*/
/* #region hero */
.hero-section {
   padding-top: 25px;
   padding-bottom: 50px;
}
.container-hero-section {
   display: flex;
   align-items: center;
}
.container-hero {
   display: flex;
   flex-direction: column;
}
.hero-title {
   max-width: 452px;
   font-size: 40px;
   line-height: 1.5;
   font-weight: 700;
   margin-bottom: 18px;
}
.hero-text {
   max-width: 465px;
   font-size: 18px;
   line-height: 1.56;
   font-weight: 400;
   margin-bottom: 45px;
}
.button-get-started {
   width: 178px;
   height: 53px;
}
.button-list-hero {
   display: flex;
   align-items: center;
   gap: 30px;
}
.button-get-started {
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-get-started:hover,
.button-get-started:focus {
   color: #02897a;
   background-color: #fff;
   outline: 1px solid #bcd0e5;
}
.button-watch-the-video {
   display: flex;
   align-items: center;
   gap: 9px;
   fill: #02897a;
   font-weight: 600;
   font-size: 16px;
   text-decoration: underline;
   color: #02897a;
   border-style: none;
   background-color: #ffffff;
}
/* #endregion */
/* #region products */
.product-section {
   padding: 50px 0;
}
.product-title {
   text-align: center;
   max-width: 500px;
   margin: 0 auto;
   max-width: 500px;
   margin-bottom: 50px;
}

.specifically-list {
   display: flex;
   gap: 30px;
}

.specifically-list-item {
   width: calc((100% - 90px) / 4);
}

.icon-box {
   width: 54px;
   height: 54px;
   border-radius: 19px;
   margin-bottom: 26px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-box:hover,
.icon-box:focus {
   cursor: pointer;
}

.green {
   background: #02897a;
}

.blue {
   background: #4d8dff;
}

.fiolet {
   background: #740a76;
}

.red {
   background: #f03e3d;
}

.icons-specifically {
   fill: #fff;
}

.specifically-item-subtitle {
   font-weight: 600;
   font-size: 22px;
   color: #22343d;
   margin-bottom: 13px;
}

.specifically-item-descr {
   line-height: 1.63;
   color: #22343d;
}

.product-button {
   width: 175px;
   height: 53px;
   display: block;
   margin: 0 auto;
   margin-top: 50px;
}
.product-button:hover,
.product-button:focus {
   color: #02897a;
   background-color: #fff;
   outline: 1px solid #bcd0e5;
}
.product-icon {
   fill: #02897a;
}
/* #endregion */
/* #region Managment */
.managment-secion {
   padding-top: 91px;
   padding-bottom: 50px;
}

.container-managment {
   max-width: 486px;
}

.managment-list-title {
   margin-bottom: 12px;
   font-weight: 600;
}
.managment-list-text {
   line-height: 1.625;
}
/* #endregion */
/* #region Customer */
.customer-section {
   margin-bottom: 50px;
}
.container-customer {
   max-width: 450px;
}
/* #endregion */
/* #region optimisation */
.optimisation-section {
   padding: 50px 0 75px;
}
.optimisation-list-title {
   margin-bottom: 12px;
}
/* #endregion */
/* #region proces */
.proces-section {
   padding: 75px 0 50px;
}
.proces-title {
   text-align: center;
}
.proces-text {
   font-weight: 500;
   text-align: center;
}
.container-proces {
   max-width: 542px;
   margin: 0 auto;
   margin-bottom: 40px;
}
.proces-list {
   display: flex;
   flex-wrap: wrap;
   gap: 25px 100px;
   max-width: 916px;
   margin: 0 auto;
   justify-content: space-between;
}
.proces-list-item {
   display: flex;
   align-items: center;
   gap: 20px;
   max-width: calc((100% - 40px) / 2);
}
.button-proces {
   padding: 15px 30px;
}
.proces-item-text {
   border-radius: 25px;
}
.button-proces {
   max-width: 216px;
   display: block;
   margin: 0 auto;
   margin-top: 50px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-proces:hover,
.button-proces:focus {
   color: #02897a;
   background-color: #fff;
   outline: 1px solid #bcd0e5;
}
/* #endregion */
/* #region strategies */
.strategies-section {
   padding: 50px 0 85px;
}
.strategies-title {
   font-size: 34px;
   margin-bottom: 10px;
}
.strategies-botom-title-text {
   font-weight: 500;
   max-width: 465px;
   margin-bottom: 40px;
}
.strategies-list {
   display: flex;
   gap: 30px;
}
.container-list-item {
   max-width: 350px;
}
.list-item-title-green {
   color: #02897a;
}
.strategies-list-item {
   border: 1px solid #dedede;
   overflow: hidden;
}
.list-item-text {
   margin: 24px 0 12px 0;
   padding-left: 24px;
}
.wahid-ari {
   font-weight: 700;
}
.list-item-title {
   padding-left: 27px;
   padding-right: 27px;
   margin-bottom: 40px;
   font-size: 24px;
   font-weight: 700;
}
/* #endregion */
/* #region price table */
.price-section {
   padding: 85px 0 50px;
   text-align: center;
}
.price-title {
   font-weight: 700;
   font-size: 34px;
   margin-bottom: 10px;
   font-weight: 500;
}
.price-botom-title-text {
   margin-bottom: 40px;
}
.price-list {
   display: flex;
   gap: 72px;
}
.price-list-item {
   width: calc((100% - 72px * 2) / 3);
   border-radius: 8px;
   box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
   background: #fff;
   padding: 32px 0;
}
.price-item-title {
   font-size: 24px;
   line-height: 1.66;
   margin-bottom: 8px;
}
.price-item-caption {
   line-height: 2.5;
   margin-bottom: 16px;
}
.price-wrapper {
   display: flex;
   justify-content: center;
   gap: 7px;
   margin-bottom: 16px;
}
.price-item-value {
   font-weight: 700;
   font-size: 76px;
   line-height: 1.31;
   color: #02897a;
}
.price-month-wrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 4px;
   margin-top: 20px;
}
.price-item-Valuta {
   font-weight: 700;
   font-size: 24px;
   line-height: 1.25;
   color: #02897a;
}
.price-item-per-month {
   line-height: 1.1875;
   letter-spacing: 0.01em;
   color: #afafaf;
}
.price-features-list {
   margin-bottom: 30px;
   line-height: 1.375;
   letter-spacing: 0.01em;
   font-weight: 500;
}
.price-features-list li:not(:last-child) {
   margin-bottom: 16px;
}
.Pricing-button {
   padding: 11px 18px;
   border-radius: 8px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.Pricing-button:hover,
.Pricing-button:focus {
   background-color: #fff;
   color: #02897a;
   outline: 1px solid #173a56;
}
.item-middle {
   background-color: #02897a;
   color: #fff;
}
.midle-button {
   background-color: #fff;
   color: #02897a;
   border-radius: 8px;
}
.midle-button:hover,
.midle-button:focus {
   background-color: #02897a;
   color: #fff;
}
.midle-per-month {
   color: #e0e0e0;
}
/* #endregion */
/* #region client */
.clients {
   padding: 50px 50px;
}

.clients-title {
   font-weight: 700;
   font-size: 32px;

   text-align: center;
   line-height: 1.78125;
   letter-spacing: 0.01em;
   color: #22343d;
   margin-bottom: 10px;
}

.clients-title-descr {
   font-weight: 500;
   font-size: 16px;
   max-width: 537px;
   margin: 0 auto;
   margin-bottom: 40px;
   line-height: 1.75;
   letter-spacing: 0.01em;
   text-align: center;
   color: #22343d;
}

.clients-list {
   display: flex;
   gap: 64px;
}

.clients-item {
   border: 1px solid #dedede;
   border-radius: 5px;
   padding: 28px 26px;
   width: calc((100% - 64px * 2) / 3);
}

.clients-list-stars {
   gap: 4px;
   display: flex;
   margin-bottom: 16px;
}

.clienta-item-stars {
   fill: #f3cd03;
}

.clients-item-descr {
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 16px;
   line-height: 1.75;
   letter-spacing: 0.01em;
   color: #737373;
}

.clients-item-name {
   font-weight: 600;
   font-size: 16px;

   line-height: 1.5;
   letter-spacing: 0.01em;
   color: #02897a;
}

.clins-item-prof {
   font-weight: 500;
   font-size: 14px;

   line-height: 1.71;
   letter-spacing: 0.01em;
   color: #252b42;
}

.clients-item-wrap {
   display: flex;
   gap: 14px;
}

/* #endregion */
/* #region join */
.join-section {
   padding: 50px 0;
}
.join-container {
   max-width: 968px;
   display: flex;
   align-items: center;
   background-color: #02897a;
   border-radius: 32px;
   gap: 15px;
   padding: 0 35px 0 51px;
}
.join-container-title {
   max-width: 510px;
}
.join-title {
   color: #fff;
   font-weight: 600;
   font-size: 32px;
   margin-bottom: 56px;
}
.join-button {
   display: block;
   width: 150px;
   font-weight: 600;
   font-size: 20px;
   color: #02897a;
   background: #fff;
   height: 50px;
   border-radius: 8px;
   border-style: none;
   margin-bottom: 56px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-button:hover,
.join-button:focus {
   background-color: #02897a;
   color: #fff;
   border: 1px solid #173a56;
}
/* #endregion */
/* #region footer */
.footer {
   padding: 50px 0 34px;
}

.footer .container {
   display: flex;
   justify-content: space-between;
   margin-bottom: 8px;
}

.footer-social-list {
   display: flex;
   gap: 16px;
   margin-top: 25px;
}

.footer-social-item {
   width: 40px;
   height: 40px;
}

.footer-social-link {
   background-color: #edfffc;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
}

.footer-social-icon {
   stroke: #02897a;
   fill: transparent;
}

.footer-resourses-item:not(:last-child) {
   margin-bottom: 8px;
}

.footer-stuff,
.footer-resourses {
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 8px;

   line-height: 1.5;
   color: #22343d;
}

.footer-stuff-item:not(:last-child) {
   margin-bottom: 8px;
}

.footer-stuff-link,
.footer-resourses-link {
   font-weight: 400;
   font-size: 16px;

   line-height: 2.1875;
   color: #22343d;
}

.footer-form-title {
   font-weight: 500;
   font-size: 20px;
   max-width: 280px;

   line-height: 1.5;
   color: #22343d;
   margin-bottom: 34px;
}

.footer-form {
   display: flex;
   flex-direction: column;
   gap: 21px;
}

.footer-form-input {
   border: 1px solid #bcd0e5;
   border-radius: 4px;
   width: 325px;
   height: 48px;
   background: #fff;
   outline: none;
}

.footer-text-end {
   font-weight: 400;
   font-size: 16px;

   line-height: 1.875;
   color: #22343d;
   text-align: center;
}

.footer-btn {
   background: #02897a;
   border-radius: 4px;
   width: 131px;
   height: 39px;
   font-weight: 700;
   font-size: 16px;
   text-align: center;
   color: #fff;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   border: none;
}

/* #endregion footer*/

/* #region  Pricing  */
/*#region price */
.praicing-price-section {
   padding: 50px 0 75px;
}
/* #endregion */
/* #region ENTERPRISE */
.enterprice-section {
   text-align: center;
   padding: 75px 0 75px;
   background-image: linear-gradient(
      180deg,
      #f6f6f6 0%,
      rgba(246, 246, 246, 0) 100%
   );
}
.enterprice-container {
   padding: 50px 0;
}
.enterprice-caption {
   font-weight: 600;
   font-size: 24px;
   text-transform: uppercase;
   margin-bottom: 16px;
}
.enterprice-title {
   font-weight: 700;
   font-size: 34px;
   margin-bottom: 8px;
}
.enterprice-text {
   font-size: 18px;
   margin-bottom: 32px;
}
.enterprice-button {
   height: 44px;
   border-radius: 8px;
   width: 224px;
   padding: 11px 18px;
}
/* #endregion */
/* #region Product */
.pricing-product-section {
   padding: 75px 0 75px;
}
.pricing-product-wrapper {
   display: flex;
   gap: 60px;
   align-items: flex-end;
}
.pricing-product-title {
   margin-bottom: 56px;
   font-size: 34px;
   text-align: center;
}
.pricing-product-list {
   max-width: 543px;
}
.pricing-product-item-title {
   margin-bottom: 16px;
   font-weight: 600;
   font-size: 24px;
}
.pricing-product-item-text {
   line-height: 1.75;

   margin-bottom: 32px;
}
.last-pricing-product-item-text {
   margin-bottom: 0;
}
/* #endregion */
/* #region  Question */
.question {
   padding: 75px 0;
}
.question-title {
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
   text-align: center;
}

.question-descr {
   text-align: center;
   font-weight: 400;
   font-size: 18px;
   color: #22343d;
}

details[open] svg {
   transform: rotate(180deg);
}

summary {
   cursor: pointer;
   font-size: 1.2em;
   display: flex;
   align-items: center;
}

summary::-webkit-details-marker {
   display: none;
}

.icon {
   width: 16px;
   height: 16px;
   margin-right: 10px;
}

/* Значок "+" за замовчуванням */
.icon.plus {
   display: block;
}

/* Значок "-" прихований за замовчуванням */
.icon.minus {
   display: none;
}

/* Показуємо "-" і приховуємо "+" при відкритті меню */
details[open] .icon.plus {
   display: none;
}

details[open] .icon.minus {
   display: block;
}

.question-list-item {
   border-bottom: 1px solid #e7e7e7;
   width: 920px;
   padding: 22px 0;
}

.questions-sum {
   cursor: pointer;
   font-size: 1.2em;
   display: flex;
   align-items: center;

   font-weight: 500;
   font-size: 18px;
   color: #22343d;
}

.icon {
   width: 16px;
   height: 16px;
   margin-right: 10px;
   fill: #02897a;
}

.questions-ans {
   color: #22343d;
}

.questions-item:not(:last-child) {
   margin-bottom: 22px;
}

.questions-title {
   margin-bottom: 8px;
   font-weight: 700;
   font-size: 34px;
   color: #22343d;
}

.questions-descr {
   margin-bottom: 50px;
   font-size: 18px;
   color: #22343d;
   margin-bottom: 50px;
}

details ul li:hover {
   background-color: #02897a;
}

/* #endregion*/
/*#region join */
.praicing-join-section {
   padding: 75px 0 150px;
}
/* #endregion */
/* #endregion */

/* #region Customers */
/* #region client */
.customers-hero-section {
   margin-bottom: 120px;
   margin-top: 100px;
}
.customers-choose-container {
   padding: 24px 0 68px;
}
.customers-hero-title {
   font-size: 40px;
   text-align: center;
}
.customers-client-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 64px;
   margin-top: 50px;
}
/*  #endregion*/
/* #region Chose */
.customers-choose-section {
   background: #f5f5f5;
   padding: 100px 0 60px;
}

.customers-choose-title {
   margin-bottom: 50px;
   font-size: 34px;
   text-align: center;
}
.customers-choose-list {
   display: flex;
   gap: 30px;
}
.customers-choose-item {
   width: calc(100% -60px) / 3;
}
.customers-choose-item-title {
   font-size: 24px;
   margin-bottom: 16px;
   line-height: 1.4;
   text-align: center;
}
.customers-choose-item-text {
   line-height: 1.6875;
   letter-spacing: 0.01em;
   text-align: center;
   padding: 0 37px;
}
/* #endregion */
/* #region How Product Works */

.how-product-works-section {
   padding: 100px 0 55px;
}
.how-product-works-title {
   font-size: 34px;
   text-align: center;
   margin-bottom: 73px;
}
.how-product-works-list {
   display: flex;
   flex-direction: column;
   gap: 100px;
   margin-bottom: 60px;
}
.how-product-works-item {
   display: flex;
   justify-content: space-between;
}
.how-product-works-wrapper {
   display: flex;
   flex-direction: column;
   max-width: 438px;
}
.how-product-works-item-step {
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 16px;
}
.how-product-works-item-title {
   font-weight: 600;
   font-size: 24px;
   margin-bottom: 16px;
}
.how-product-works-item-text {
   line-height: 1.75;
}

.how-product-works-button {
   padding: 11px 18px;
   display: block;
   font-size: 18px;
   width: 224px;
   margin: 78px auto 0;
}
/* #endregion */
/*#region join  */
.customers-join-section {
   padding: 75px 0 100px;
}
/* #endregion */
/*#region offers */
.offers-section {
   background-image: linear-gradient(
      180deg,
      #f5f5f5 0%,
      rgba(245, 245, 245, 0) 100%
   );
   padding: 60px 0 75px;
}
.offers-section-container {
   padding: 24px 0 45px;
}
.offers-title {
   margin: 0 auto;
   display: block;
   max-width: 537px;
   margin-bottom: 93px;
   font-size: 32px;
   text-align: center;
}
.offers-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #ffefef;
   border-radius: 50%;
   width: 150px;
   height: 150px;
   margin-bottom: 27px;
}
.offers-list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 325px;
}
.offers-item {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.offers-item-title {
   font-weight: 500;
   font-size: 24px;
   text-align: center;
   line-height: 1.17;
   color: #000;
   margin-bottom: 16px;
}
.offers-item-advantages {
   font-size: 18px;
   margin-bottom: 12px;
   line-height: 1.8;
   text-align: center;
}
.offers-item-caption {
   font-weight: 500;

   line-height: 1.75;
   color: #000;
}
.join-container {
}
.join-container-title {
}
.join-title {
}
.join-button {
}
/* #endregion */
/* #endregion */

/*#region Resurces  */
/* #region Bussines */
.resurces-business-section {
   padding: 76px 0 33px;
}

.resurces-business-container {
   display: flex;

   justify-content: space-between;
}

.resurces-business-title {
   max-width: 380px;
   font-weight: 600;
   font-size: 40px;

   line-height: 1.49;
   letter-spacing: -0.03em;
   margin-bottom: 24px;
}

.resurces-business-caption {
   max-width: 535px;
   font-size: 20px;

   line-height: 1.6;
   letter-spacing: -0.03em;
   margin-bottom: 24px;
}

.resurces-business-people-wrapper {
   display: flex;
   align-items: center;
   gap: 9px;
}

.resurces-business-people {
   font-size: 14px;
}
.resurces-business-span {
   font-weight: 500;
   color: #02897a;
}
.resurces-business-form {
   width: 469px;
   position: relative;
   margin-bottom: 24px;
}

.resurces-business-input {
   padding-top: 24px;
   padding-bottom: 24px;
   padding-left: 27px;
   border: 1px solid #eaeaea;
   border-radius: 100px;
   width: 100%;
   height: 66px;
   outline: none;
}
.resurces-business-input::placeholder {
   line-height: 1;
   letter-spacing: -0.03em;
   color: #22343d;
}
.resurces-business-form-buttom {
   font-weight: 600;
   border-radius: 100px;

   width: 117px;
   height: 50px;
   border: none;
   position: absolute;
   right: 8px;
   top: 8px;
}
/*#endregion  */
/* #region Storeis */
.resurces-stories-section {
   padding: 33px 0 50px;
}
.resurces-stories-title {
   font-size: 34px;
   text-align: center;
   margin-bottom: 8px;
}
.resurces-stories-caption {
   font-weight: 500;
   line-height: 1.625;
   text-align: center;
   margin-bottom: 32px;
}
.resurces-stories-list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 32px;
   margin-bottom: 32px;
}
.resurces-stories-item {
   width: calc((100% - 32px * 2) / 3);
}
.resurces-stories-item-caption {
   line-height: 1.75;
   margin-top: 22px;
}
.resurces-stories-span {
   font-weight: 700;
}
.resurces-stories-item-title {
   max-width: 294px;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.67;
   margin-top: 12px;
}
.resurces-stories-button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.44;
   background-color: transparent;
   border: none;
   color: #22343d;
   margin: 0 auto;
}
/* #endregion */
/* #region contacts */
.resurces-contact-section {
   padding: 50px 0;
}
.resurces-contact-title {
   font-size: 34px;
   line-height: 1.68;
   letter-spacing: 0.01em;
   text-align: center;
   margin-bottom: 7px;
}
.resurces-contact-caption {
   font-weight: 500;
   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.01em;
   text-align: center;
   margin: 0 auto;
   max-width: 332px;
   margin-bottom: 55px;
}
.resurces-contact-map {
   display: block;
   margin: 0 auto;
   margin-top: 56px;
   margin-bottom: 50px;
}
.resurces-contact-wrapper {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
   padding: 50px;
   gap: 45px;
}
.resurces-contact-form {
   display: flex;
   flex-direction: column;
   gap: 45px;
   width: 868px;
}
.resurces-contact-input {
   padding-top: 19px;
   padding-bottom: 19px;
   padding-left: 20px;
   border: 1px solid #e8e8e8;
   border-radius: 39px;
   padding: 19px 20px;
   width: 100%;
   background-color: #f5f5f5;
   outline: none;
   color: #22343d;
}
.resurces-contact-massage {
   border: 1px solid #e8e8e8;
   padding: 23px 20px;
   width: 100%;
   height: 193px;
   padding: 20px 23px;
   background-color: #f5f5f5;
   font-size: 15px;
   outline: none;
   line-height: 1.07;
   letter-spacing: 0.01em;
   color: #22343d;
}
.resurces-contact-button {
   border-radius: 35px;
   padding: 18px 38px;
   width: 145px;
   height: 52px;
   border: none;
   background-color: #02897a;
   font-weight: 500;
   line-height: 1;
   letter-spacing: 0.01em;
   color: #fff;
}
.resurces-contact-social {
   justify-content: center;
   gap: 22px;
}
/* #endregion */
/*#endregion  */
